<div class="logo-inner">
  <div class="course-logo">
    <button class="base" data-event="clickLogoButton" aria-label="Select here to navigate to the main page.">
      <img src="" class="a11y-ignore" aria-hidden="true" tabindex="-1" />
    </button>
  </div>
  <div class="course-title"></div>
</div>
