<div class="logo-inner">
  <button class="base" data-event="clickLogoButton" aria-label="Select here to navigate to the main page.">
    <div class="course-logo">
      <img src="" class="a11y-ignore" aria-hidden="true" tabindex="-1" />
    </div>
  </button>
  <div class="course-title"></div>
</div>
